html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  position: relative;
}

#model3 {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 90% 10%;
  background: #111;
  padding: 2rem;
}

.screen {
  display: grid;
  grid-template-columns: 35% 75%;
  border-radius: 1rem;
  overflow: hidden;
  
  > .drive-view {
    grid-column: 1 / 2;
    text-align: center;
    text-emphasis: bold;
    h1 {
      border: 3px solid gray;
      width: fit-content;
      // text-align: center;
      border-radius: 50%;
      
        }
    
  }
  
  > .map {
    grid-column: 2 / 3;
  }
}


.drive-view {
  box-shadow: 1rem 0 2rem rgba(black, 0.1);
  display: inline-grid;
  grid-template-rows: 14% 6% 60% 20%;
  z-index: 1;
  background-color: rgba(224, 215, 215, 0.966);
 
  > .prndl {
    text-align: left;
    font-family: sans-serif;
  }

  > .car-view > img{
    height: 100%;
    width:100%;
  }

  > .accessibility > img{
    height: 100%;
    width:100%;
  }
}


.map {
  background: white;
}

#menu {
  display: flex;
  flex-direction: row; // --------->>>>>
  justify-content: space-between;
  align-items: center;

  .item {
    
    border: 1px solid rgba(255, 255, 255, 0.267);
    height: 4rem;
    width: 5rem;
    text-align: center;
    color:white;
    font-size: 200%;


  
  .button {
    appearance: none;
    border: none;
    background: none;
  }
}

}